<div class="title">
  Did I Steal your Content?
</div>

<p>
  Let me start by apologizing. I built this whole system in an afternoon and needed to find assets.
  Just fill in the form below and I'll take your content down as soon as I can. Thanks.<br/><br/>
  &nbsp;&nbsp;♥ Nate
</p>
<div id="contentform">
  Email:<br/>
  <input type='text'></input><br/><br/>
  Content:
  <textarea cols="55" rows="8"></textarea>
  <button class="fambtn">Submit</button><br/><br/>
</div>
