<div class="title">
  Welcome to CSDL
</div>
<img width="469px" src="/images/news/banner0001.jpg">
<div class="by">
  By Nate on January 30th, 2017
</div>
<p>
  <strong>WELCOME TO CSDL</strong><br/><br/>
  So first things first, I should introduce myself. My name is Nate. I am an electrical
  engineering student with a love of the game of Dota 2. Ever since my younger brother
  introduced me to the game, I have loved learning about how each hero works and how
  to best leverage certain combinations. However, there is one large problem in the Dota
  community: the playerbase.
  <br/><br/>
  The Dota 2 community is commonly regarded as a toxic shit pile by our critics and honestly?
  They aren't wrong. We are not very nice to one another. Part of the problem is that this is a skill oriented game where one players
  mistakes can cost the rest of their team the game. This immediately sets us on each others heels.
  <br/><br/><strong>THE LANGUAGE BARRIER</strong><br/><br/>
  Another large issue faced by the community is the language barrier. I happen to live in the southern US where
  Spanish language courses are mandatory, so I don't have as difficult time understanding. Others however, are
  not as fortunate. If you can't communicate with your team in Dota 2, the game has already become an uphill battle.
  The ability to clearly dictate how to time your fights is crucial in higher level play and as such I decided that
  I would try to create a system to work as a testbed for Valve's matchmaking system. Together we can make a better
  system.
  <br/><br/><strong>BUT WHY?</strong><br/><br/>
  This is by no means a replacement for normal matchmaking. One of the biggest criticisms of Dota 2's matchmaking
  system is that MMR is inherently unbalanced. I'm not sure that I agree, however I would like to see how well
  the alternatives offered fair. Would we be better off moving to <a href="https://www.reddit.com/r/GlobalOffensive/comments/3ebla5/csgo_ranks_explained/">CS:GO's ranking system</a>: doing away with numbers entirely?
  Or perhaps we should just change up the numbers a little bit. Maybe we should take match stats into account? The problem
  with any large change to a functioning system is peoples lack of a desire to change. This system is crucial as it allows
  us to perform these tests on a smaller scale before widespread deployment.
  <br/><br/><strong>THE BAD NEWS</strong><br/><br/>
  There is some bad news associated with this system. Because the entire thing is built on trust, should one player decide
  to break the rules, they can drastically affect the experience of other players. It is because of this that I have
  decided to implement some very strict rules. Should you break them, you will be banned. There will be an appeals process however I
  wouldn't count on the appeal going through. It sucks, but then again, so do we. The rules will be detailed <a href="javascript:loadpage('./rules/ingame.html')">here</a>.
</p>
