<div class="title">
  Lorem Ipsum
</div>
<img width="467px" src="/images/news/banner0001.jpg">
<div class="by">
  By Nate on January 31st, 2017
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum enim id purus dapibus, non sollicitudin odio iaculis. Nam imperdiet pulvinar dolor ut ornare. Phasellus consequat auctor tellus, ut hendrerit dui condimentum ac. Sed dictum commodo tristique. Phasellus dolor dui, fringilla sed convallis eget, egestas quis dui. Nullam fringilla ligula nec velit feugiat, vitae auctor lacus vulputate. Curabitur viverra pellentesque congue. Pellentesque pretium fringilla sem, at accumsan ante. Etiam aliquam hendrerit vulputate. Ut leo lorem, semper eget elementum ut, malesuada ut eros. Nam at imperdiet ligula. Fusce at lacus in massa blandit molestie vel a sapien. Etiam eget nulla orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
  <br/><br/>
  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam malesuada est sit amet convallis blandit. Donec faucibus sapien non eleifend mollis. Nam consectetur ac urna ac pharetra. Nulla vitae odio ex. Pellentesque nec nulla quis tortor dignissim rutrum nec at eros. Morbi et nisi fermentum, pulvinar leo non, laoreet mi. Nunc vel metus vitae nisl scelerisque maximus eu et ante. Donec id urna eu ligula eleifend viverra. Phasellus ultricies augue quam, at aliquam justo tempus vel. Nunc in dolor gravida magna dictum fringilla. Sed sollicitudin felis vitae enim commodo molestie. Nullam fermentum cursus tincidunt. Donec fermentum leo turpis, accumsan tincidunt nisi bibendum vel.
  <br/><br/>
  Phasellus quis justo in lacus maximus pellentesque ut eu ipsum. Cras tincidunt mollis leo. Fusce ut tristique nibh. Praesent non bibendum felis. Proin enim ante, hendrerit eget libero sit amet, pretium vestibulum lacus. Vestibulum imperdiet bibendum leo, quis malesuada magna accumsan nec. In in efficitur erat, eget sollicitudin arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc mollis quis est ut dictum. Curabitur suscipit dui at pulvinar consequat. Aliquam condimentum ultrices facilisis. Fusce vel nisl id leo consequat sodales ac vitae ante. Aliquam erat volutpat. Quisque nec sem est. Proin vestibulum gravida eros et ultricies. Vivamus quis velit justo.
  <br/><br/>
  Integer vel orci vitae sem pharetra accumsan. Quisque molestie finibus sagittis. Integer maximus purus in mauris pretium, ut maximus dolor ullamcorper. Sed sit amet turpis ultrices, convallis augue vitae, varius arcu. Etiam interdum tincidunt orci et facilisis. Mauris at diam pulvinar, viverra velit eu, ultricies quam. Duis et placerat sem. Mauris fringilla, mauris id lacinia sagittis, justo est suscipit erat, sit amet gravida nisi sapien sed tortor.
  <br/><br/>
  Nulla mollis at dui in aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In dictum fringilla nibh, non posuere lorem semper vitae. Nunc mollis faucibus consequat. Nam commodo ipsum in metus efficitur scelerisque. Nunc dapibus arcu vel scelerisque hendrerit. Sed pellentesque hendrerit pharetra.
</p>
