<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type='text/css' href='/stylesheets/style.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascripts/find.js"></script>
    <title>CSDL</title>
  </head>
  <body>
    <div id="content">
      <div id="top">
        <img src='/images/transparent_bg_white_fg_logo.png' height="75px"/>
      </div>
      <nav>
        <a href="/">Home</a>|
        <a href="/calibration">Calibration</a>|
        <a href="/gamemmr">Change MMR</a>|
        <a href="/playerdata">Modify Player</a>
      </nav>
      <div id="news">
          <div class="title">
            Administration
          </div>
          <p>
            <strong>How Administration Works</strong><br/><br/>
            We can't do a lot in terms of administration until I figure out what I want to admninister. Right now we can only
            change the calibration, MMR, and player settings. I should soon also be able to approve players for the beta n stuff.
            Remember this is still a work in progress.
            <br/><br/>
            Here are the tools that I currently have:
          </p>
          <div id="ldiv">
            <ul>
              <li><a href="/calibration">Calibration</a>: It will take a little while to load the page. Be patient.</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
