<div class="title">
  The Rules of Hosting (Depreceated)
</div>
<center>
  <br/><br/>
  <strong>THESE ARE NO LONGER RELEVANT</strong><br/>
  The machines have taken over!<br/>
</center>
<p>
  You've agreed to be a host! Excellent! However, there are some rules which you will need to abide by in order to keep doing so. Be wary, should
  you break these rules, you will be banned from the league as a whole.
</p>
<div id="ldiv">
  <ol>
    <li>You will set up the server in this exact manner (Hover to enlarge):<br/>
      <img class="enlarge" width="381" src="/images/rules/setup-hosting.jpg">
      <ul>
        <li>Game Name: CIHL - XXXXXXXX (8 Digit Match ID)</li>
        <li>Game Mode: AP or CM (Depending on what you queued for)</li>
        <li>Lobby Password: The League Match ID</li>
        <li>Server Location: US West</li>
        <li>Lobby Listing: Either Public or Unlisted (Personal Preference)</li>
        <li>Cheats Must Be Disabled. No exceptions.</li>
        <li>Leave all Advanced Lobby Settings to their Default State</li>
      </ul>
    </li><br/>
    <li>Once you have created the lobby, you will open the game screen press the green "Lobby is up!" button</li><br/>
    <li>Failing to host the lobby within a timely manner (i.e. 2min) will result in a suspension of two hours for matchmaking and one day for hosting.</li>
  </ol>
</div>
<p>
  That's it! Just remember, everyone wants to have a good time. Thanks again for hosting the lobby.
</p>
