<div class="title">
  In Game Rules
</div>
<p>
  Thank you for joining! Before you get started there are just a few small housekeeping matters which we
  need to discuss. Because the entire system is built on trust, there are rules. These rules are strict and
  will be enforced. In other words, if you break the rules, I will catch you. And I will ban you.
</p>
